[submodule "DecompROS"]
	path = DecompROS
	url = https://github.com/tyuezhan/DecompROS.git
[submodule "motion_primitive_library"]
	path = motion_primitive_library
	url = https://github.com/tyuezhan/motion_primitive_library.git
